*.obj
*.json
*.tlog
*.pdb
*.iobj
*.ipdb
*.log
*.res
*.exe
*.suo
*.db
*.opendb
*.idb
*.db-shm
*.db-wal
*.ipch
*.aps
*.recipe
*.ilk
*.gs?
*.cfg
*.exp
*.lib
*.vsidx
*.enc
read.lock
fileList.bin
_IsIncrementalBuild
*.vcxproj.FileListAbsolute.txt
DbgClient_server.skeleton.cpp
DbgServer_server.skeleton.cpp
Gens/asm/main68k.asm
Gens/asm/sub68k.asm
Debug/
Release/
Release7/
Debug_68k/
Release_68k/
Debug_z80/
Release_z80/
Gensida/vcpkg_installed/
