*.obj
*.tlog
*.pdb
*.iobj
*.ipdb
*.log
*.res
*.exe
*.suo
*.db
*.opendb
*.idb
*.db-shm
*.db-wal
*.ipch
*.aps
*.recipe
*.vcxproj.FileListAbsolute.txt
Gens/asm/main68k.asm
Gens/asm/sub68k.asm
Debug7/
Release7/
